GAIA_AGENT_CENSOR_RATING=BLOCK_MEDIUM_AND_ABOVE
GAIA_AGENT_INTELLECT=MINIMAL
GAIA_AGENT_KEY=
GAIA_AGENT_MODEL=gemini-flash-lite-latest
GAIA_AGENT_NAME=Gaia
GAIA_AGENT_PERSONA=
GAIA_DB_PATH=/tmp/gaia.sqlite3
